<div class="about-us">
  <h2 style="text-align: center;">About Us</h2>
  <div class="container-fluid">
    <div class="row" style="background-color:rgb(212, 206, 206)">
      <div class="col">
        <h3 style="text-decoration: underline;">Our History</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      </div>
      <div class="col">
        <h3 style="text-decoration: underline;">Vision and Mission</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      </div>
      <div class="w-100"></div>
      <div class="col">
        <h3 style="text-decoration: underline;">Order of Mass</h3>
        <table>
          <tr>
            <th>Mass/English</th>
            <th>Time</th>
          </tr>
          <tr>
            <td>First Mass(English)</td>
            <td>7:30am - 9:00am</td>
          </tr>
          <tr>
            <td>Second Mass(Swahili)</td>
            <td>9:00am - 11:00am</td>
          </tr>
          <tr>
            <td>Third Mass(Swahili)</td>
            <td>11:00am - 1:00pm</td>
          </tr>
        </table>
      </div>
      <div class="col">
        <h3 style="text-decoration: underline;">Ministries and Ecclesial groups</h3>
        <p>We have various ministries at Valley Road that a registered member can serve under. They include;</p>
        <a style="color:red" href="#">Read More -></a>
      </div>
    </div>
  </div>
</div><br>