<!-- Main footer container -->
<div id="footer">
    <div class="container-fluid" style="padding-top:2%">
        <div class="row">
            <div class="col">
                <img src="/static/assets/tassia.png" />
            </div>
            <div class="col">
                <ul>
                    <h6>ABOUT US</h6>
                    <li><a href="#">Our Mission</a></li>
                    <li><a href="#">Our Vision</a></li>
                </ul>
            </div>
            <div class="col">
                <ul>
                    <h6>CONTACT US</h6>
                    <li>+254701669233</li>
                    <li>holyinnocents@gmail.com</li>
                </ul>
            </div>
            <div class="col">
                <ul>
                    <h6>TITHE & GIVING</h6>
                    <li>Paybill: </li>
                    <li>Acc No:</li>
                </ul>
            </div>
        </div>
        <div class="container-fluid">
            <hr style="border: 1px solid #D5A848; width:90%">
            <div class="row">
              <div class="col">
                <p>All Rights Reserved @2023 | <span style="color: #D5A848;">HIT</span></p>
              </div>
              <div class="col">
                <p style="float:right">Developed and Maintained by | <span style="color:#D5A848;">MwiksDev</span></p>
              </div>
            </div>
        </div>
    </div>
</div>