<!-- Main navigation container -->
<div id="navbar">
  <div class="logo" style="float:left;">
    <img src="/static/assets/tassia.png" class="logo-img" alt="Holy Innocents Image">
    <div id="heading" style="margin-top: 3%;">
      <h1 class="liquid-heading" style="color:white;font-weight:900;">HOLY INNOCENTS</h1>
      <h1 style="color:white;margin-right: 40%;font-weight:900;">TASSIA</h1>
    </div>
  </div>
  <ul>
    <li><button><a href="#">Donate</a></button></li>
    <li><a href="#">Gallery</a></li>
    <li><a href="#">Ministries/Ecclesial Groups</a></li>
    <li><a href="#">About Us</a></li>
    <li><a href="#">Home</a></li>
  </ul>
</div>
